@model Category
@{
    ViewData["Title"] = "Create Category";
}
<style>
    .bdr {
        border-radius: 5px;
    }

</style>
<div class="border p-3 mt-4 bdr">
    <h2 class="text-primary">Create Category</h2>
    <br />
    <form asp-action="Create" method="post">
        <div class="mb-3">
            <label asp-for="Name" class="form-label">Name Of Category</label>
            <input type="text" class="form-control" asp-for="Name">
            <span class="text-danger" asp-validation-for="Name"></span>
        </div>
        <div class="mb-3">
            <label asp-for="DisplayOrder" class="form-label">Display Order</label>
            <input type="number" class="form-control" asp-for="DisplayOrder">
            <span class="text-danger" asp-validation-for="DisplayOrder"></span>

        </div>
        <div class="row">
            <div class="col-6">
                <button type="submit" class="btn btn-primary form-control">Submit</button>
            </div>
            <div class="col-6">
                <a asp-controller="Home" asp-action="Index" class="btn btn-secondary border form-control">Back Home</a>
            </div>
        </div>
        <br />

        <div class="text-danger" asp-validation-summary="All"></div>

    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
